{# src/OC/PlatformBundle/Resources/views/Advert/infocon.html.twig #}


{% extends "::Client.html.twig" %}

 {% block body1 %}
<h3>Les informations de votre contact ci-dessous</h3>
<div class="well" id="formul">
   {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

   {{ form_errors(form) }}
 <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.date, " Annuversaire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form. date) }}


        {{ form_widget(form. date) }}
      
    </div>
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.nom, "nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}

      <div class="col-sm-6">
        {# Génération de l'input. #}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
     <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.prenom, "prenom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.prenom) }}

      <div class="col-sm-6">
        {# Génération de l'input. #}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div> <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.adresse, "adresse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.adresse) }}

      <div class="col-sm-6">
        {# Génération de l'input. #}
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
      </div>
    
    </div> <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.phone, "Phone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.phone) }}

      <div class="col-sm-6">
        {# Génération de l'input. #}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
      </div><hr>
<div>{{ form_widget(form.soumettre, {'attr': {'class': 'btn btn-primary glyphicon glyphicon-floppy-disk'}}) }} 
{{ form_widget(form.annuler, {'attr': {'class': 'btn btn-primary glyphicon glyphicon-remove '}}) }} </div>
{{ form_end(form) }} 
</div>
 {% endblock %}
